In [55]:
import pandas as pd
import io
import re

In [20]:
file_input = './datos_data_engineer.tsv'
file_output = './datos_data_engineer.csv'
file_alunos = './alunos.csv'

In [56]:
lines = (line for line in io.open(file_input, mode="r", encoding="utf-16-le"))

In [57]:
lines_values = (line.rstrip().split('\t') for line in lines)

In [54]:
df = pd.read_csv(file_input, sep='\t', header=0)
df

       i  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4
0    NaN         NaN         NaN         NaN         NaN
1    NaN         NaN         NaN         NaN         NaN
2    NaN         NaN         NaN         NaN         NaN
3    NaN         NaN         NaN         NaN         NaN
4    NaN         NaN         NaN         NaN         NaN
...   ..         ...         ...         ...         ...
1002 NaN         NaN         NaN         NaN         NaN
1003 NaN         NaN         NaN         NaN         NaN
1004 NaN         NaN         NaN         NaN         NaN
1005 NaN         NaN         NaN         NaN         NaN
1006 NaN         NaN         NaN         NaN         NaN

[1007 rows x 5 columns]